# Binaries and executables
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/

# Go build artifacts
daemon/bin/
relay/bin/

# Flutter build artifacts
app/build/
app/.dart_tool/
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/.packages
.pub-cache/
.pub/

# OS & Editor files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.log
